[Unit]
Description=Collect and push channels information from FreeSWITCH Sqlite CoreDB to InfluxDB
Documentation=https://github.com/areski/excdr-pusher
After=syslog.target
After=network.target
After=postgresql.service
After=redis.service
#After=network.target freeswitch.service

[Service]
Type=simple
TimeoutSec=120
User=root
Group=daemon
#
Environment=MIX_ENV=prod PORT=8888 DB_HOST=127.0.0.1 DB_NAME=mydb DB_USER=myusername DB_PASSWORD=mypassword
ExecStart=/app/excdr_pusher/bin/excdr_pusher start
ExecStop=/app/excdr_pusher/bin/excdr_pusher stop
Restart=always
RestartSec=5
RemainAfterExit=yes
SyslogIdentifier=excdr_pusher

[Install]
WantedBy=multi-user.target
Alias=excdr_pusher.service
